@import './common.styl'

.calendar-item
  padding 0.25em 0

  .time
    background-color $back-light-color
    padding 0 .5em

  .event-content
    white-space pre
    padding 0 1em
    border-bottom 2px solid $main-color

  &:active, &:focus, &.selected
    .time
      background-color $main-color !important
      color #fff !important

  &.today
    .time, .event-content
      background-color rgba(0, 0, 0, 1)
      color yellow

  &.tomorrow
    .time, .event-content
      background-color rgba(51, 122, 183, 0.4)

  &.duplicate
    .event-content
      background-color rgba(65, 252, 58, 1) !important
