header
  background-color rgba(51, 122, 183, 1)
  padding 0.5em 3em
  color #FFF
  border-radius 1em 1em 0 0
  margin 1em 0 0 0

header > h1 > .glyphicon
  margin-right 0.25em

nav
  padding 0.5em 0
  border-bottom 5px solid rgba(51, 122, 183, 1)
