@import './common.styl'

.calendar
  header
    background-color $main-color
    padding 0.1em 1em
    color #FFF
    margin 1em 0 0 0

  header > h1 > .glyphicon
    margin-right 0.25em

  .content
    padding-top 1em
