.calendar-item
  border-bottom 1px solid black
  padding 1em 0

  &:first-child
    border-top 1px solid black

.description
  white-space pre

.calendar-item:active, .calendar-item:focus
  background-color #FFFFE0

.calendar-item.selected
  border-left 4px solid black
  margin-left -19px
