@import './common.styl'

.calendar
  header
    background-color $main-color
    padding 0.5em
    color #FFF
    margin 1em 0 0 0

    h1
      margin 0

      .glyphicon
        margin-right 0.25em

  .content
    padding-top 1em
