.calendar-item
  border-bottom 1px solid silver
  padding 1em 0

  &:first-child
    border-top 1px solid silver

.description
  white-space pre

.calendar-item:active, .calendar-item:focus
  background-color rgba(51, 122, 183, 0.1)

.calendar-item.selected
  border-left 4px solid rgba(51, 122, 183, 1)
  margin-left -19px
